.App {
  text-align: center;
}
.header-text {
  font-family: 'ASAP', sans-serif !important;
}
.tel {
  color: #fff;
}
.tel:hover {
  text-decoration: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-main {
  padding: 0 13vw;
}

.App-link {
  color: #61dafb;
}
@media only screen and (max-width: 1666px) {
  .header-main {
    padding: 0 .5rem;
  }
}
@media only screen and (max-width: 500px) {
  .header-main img {
  width: 100%;
}
}
@media only screen and (max-width: 334px) {
  .tel {
  font-size: 7vw;
}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
