.navbar-expand-lg,
.dropdown-menu {
    background-color: #223c73;
}
.nav-link, .dropdown-item {
    color: #fff !important;
    font-family: 'Asap', sans-serif;
}
.nav-link:hover, 
.nav-item:hover, 
.dropdown-item:hover {
    background-color:  #314C88 !important;
}
.phone-number {
    color: #fff;
}
@media only screen and (max-width: 1322px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    }
}
@media only screen and (min-width: 1323px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1179px){
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1.2vw;
    }
}