.carousel-item img {
    height: 25vw;
    width: 65vw !important;
}
.ci-one {
    background-image:url("http://localhost:3000/static/media/slideone.e1b46d3d.jpg");
    height: 25vw;
    background-size: cover;
    width: 100%;
}
.ci-two {
    background-image: url("http://localhost:3000/static/media/slidetwo.0deb5ce4.jpg");
    height: 25vw;
    background-size: cover;
    width: 100%;
}
.carousel-indicators {
    display: none;
}
.carousel-caption {
    color: #000;
    bottom: 40%;
}
@media only screen and (max-width: 621px) {
    .carousel-caption h3 {
        font-size: 5vw;
    }
    .carousel-caption {
        bottom: -12px;
    }
}
@media only screen and (max-width: 335px) {
    .carousel-caption {
        bottom: -20px;
    }
}